// Bill form component
.c-bill-form {
  &__upper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }
  
  &__label {
    display: block;
    margin-bottom: 5px;
  }
  
  &__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 100%;
  }
  
  &__success-message {
    background-color: rgba(0,0,0, 0.7);
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  &__success-message-inner {
    animation: fade-up 500ms ease forwards;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}