// Bills List Component
.c-bills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1.25rem;
  margin-top: 20px;  
}

.c-bill-item {
  margin-top: 10px;
  padding: 12px;
  background-color: $c-black-light;
  border-radius: 5px;
  border: 1px solid $c-black-lightest;
  position: relative;
  
  // &__timestamp {
  //   font-size: $font-size-xxs;
  // }
    
  &__description {
    font-weight: bold;
  }
  
  &__amount {
    margin-left: 5px;
    padding: .1em .4em;
    background-color: $c-red;
    border-radius: 5px;
    font-size: $font-size-xs;
  }
  
  &__due-date {
    display: block;
    color: $c-yellow;
    font-weight: 500;
    font-size: $font-size-xs;    
  }
  
  &__icons {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  
  &__icons-settings {
    cursor: pointer;
    
    &:hover {
      svg {
        animation: rotate 500ms ease forwards;
      }
    }
  }
  
  &__icons-popover {
    display: flex;
    gap: .3em;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;    
    
    &::before {
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }    
    
    &.is-active {
      opacity: 1;
      visibility: visible;
    } 
  }    
  
  &__icon-delete,
  &__icon-edit,
  &__icon-paid {
    cursor: pointer;
  }
  
  // Bill item status 
  &.is-paid {
    box-shadow: 0 0px 3px 1px #00fe08;
  }
  
  &__status-paid {
    margin-left: 5px;
    padding: .1em .4em;
    background-color: $c-blue-dark;
    border-radius: 5px;
    font-size: $font-size-xs;
  }
}