// Bills List Component
.c-bills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1.25rem;
  margin-top: 20px;  
}

.c-bill-item {
  margin-top: 10px;
  padding: 12px 10px;
  background-color: $c-black-light;
  border-radius: 5px;
  border: 1px solid $c-black-lightest;
  position: relative;
  
  // &__timestamp {
  //   font-size: $font-size-xxs;
  // }
    
  &__description {
    font-weight: bold;
  }
  
  &__amount {
    margin-left: 5px;
    padding: .1em .4em;
    background-color: $c-red;
    border-radius: 5px;
    font-size: $font-size-xs;
  }
  
  &__due-date {
    display: block;
    //padding: .1em .4em;
    //background-color: $c-yellow;
    color: $c-yellow;
    //border-radius: 5px;
    font-weight: 500;
    font-size: $font-size-xs;    
  }
  
  &__icons {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  &__icons-settings {
    cursor: pointer;
  }
  
  &__icons-popover {
    width: 60px;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    
    &.is-active {
      opacity: 1;
      visibility: visible;
    } 
  }
  
  &__delete {
    cursor: pointer;
  }
  
  &__edit {
    cursor: pointer;
  }
}