// Header component 
.c-header {
  text-align: center;
  
  &__title {     
    &--month {
      display: block;
      font-size: $font-size-xl;
    }
    
    &--amount {
      color: $t-yellow;
    }
  }    
}