// NOTE: Going to phase out variables file
// Transition 
$transition-base: all 0.2s ease;

// Padding 
$padding-base: 20px;
$padding-base-half: $padding-base - 10px;

// Breakpoints 
$bp-small: 767px;