// App UI Colors
$c-blue: #55d4da;
$c-blue-med: #0190d4;
$c-blue-dark: #0075ad;
$c-white: #ffffff;
$c-black: #242424;
$c-black-light: #353333;
$c-black-lightest: #555252;
$c-green: #00a862;
$c-red: #ff4c47;

// Text colors
$t-green: #00ff06;
$t-red: #ff4c47;
$t-white: #ffffff;
$t-black: #242424;

// Button colors
$button-primary: #efefef;
$button-hover: #d6d6d6;
$button-disabled: #a8a8a8;
$button-disabled-text: #737171;

// Fonts 
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-l: 30px;
$font-size-xl: 40px;
$font-size-xxl: 60px;

// Padding 
$padding-base: 20px;
$padding-base-half: $padding-base - 10px;

// Breakpoints 
$bp-small: 767px;