// Core App UI
body {  
  background-color: $c-white;
  color: $t-black;
  font-family: $font-primary;
  font-weight: $font-weight-300;
}

.page-wrapper {
  padding-top: 3rem;
  background-color: $c-black;
  color: $c-white;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  box-shadow: -11px 0 5px -5px rgba(0,0,0,.2);
  transition: $transition-base;    
  
  &.is-active {
    transform: translateX(200px);
    
    @media(max-width: 767px) {
      transform: translateX(50%);
    }
  }
}

.section {
  &__container {
    width: 50%;
    margin: 0 auto;
    
    @media(max-width: $bp-small) {
      width: auto;
      margin: 0 20px;
    }
  }
  
  &__content {
    padding: $padding-base-half 0 $padding-base-quad;
  }
}

.chart-wrapper {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  
  @media(max-width: $bp-small) {
    width: 90%;
    height: auto;
  }
}