// Typography

// Headings
h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-l;
}

h3 {
  font-size: $font-size-md;
}

h4 {
  font-size: $font-size-sm;
}

h5 {
  font-size: $font-size-xs;
}

h6 {
  font-size: $font-size-xxs;
}