// Typography

// Headings
h1,h2,h3,h4,h5,h6 {
  font-weight: $font-weight-300;
}

h1 {
  font-size: $font-size-xl;
  
  @media(max-width: $bp-small) {
    font-size: $font-size-l;
  }
}

h2 {
  font-size: $font-size-l;
}

h3 {
  font-size: $font-size-md;
}

h4 {
  font-size: $font-size-sm;
}

h5 {
  font-size: $font-size-xs;
}

h6 {
  font-size: $font-size-xxs;
}